/* Haplo Plugins                                     https://haplo.org
 * (c) Haplo Services Ltd 2006 - 2020            https://www.haplo.com
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.         */


.haplo-form-read-only-data {
    color: #757575;
}

.haplo-form-read-only-data label {
    font-weight: bold;
}

.haplo-form-read-only-data a {
    color: #757575;
    text-decoration: underline
}

.haplo-form-read-only-data a:hover {
    color: #1175d5;
}
