/* Haplo Plugins                                     https://haplo.org
 * (c) Haplo Services Ltd 2006 - 2017   https://www.haplo-services.com
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.         */


.hhff_container {
    padding: 4px 8px;
    width: 380px;
}
.hhff_container textarea {
    width: 360px;
}

.hhff_sent {
    padding: 4px 16px;
    margin: 8px;
    width: 344px;
    background: #eee;
    border-radius: 4px;
}
.hhff_sent h2 {
    font-size: 22px;
}
.hhff_sent p {
    margin-top: 32px;
}
