
{{#if haveMeetings}}
  <p>{{humanReadableVerb}} this application for discussion at the {{committeeName}} meeting on:</p>

  <form method="POST">{{>std:form_csrf_token}}
    {{#each meetings}}
      <p><button name="meeting" value="{{ref}}">{{datetime}}</button>{{#if location}} ({{location}}){{/if}}<p>
    {{/each}}
  </form>
{{else}}
  <p>There are no meetings scheduled for {{committeeName}}.</p>
{{/if}}

<p><a href="/do/haplo-committee-support/new-committee-meeting/{{committeeRef}}?back={{thisPagePath}}">Schedule {{#if haveMeetings}}another{{else}}a{{/if}} meeting for {{committeeName}}</a></p>
