/* Haplo Plugins                                     https://haplo.org
 * (c) Haplo Services Ltd 2006 - 2018            https://www.haplo.com
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.         */


.notice {
    border-left: 5px solid #f00;
    background: #e8e8e8;
    padding: 10px 15px;
    margin: 20px 0 24px 0
}

.notice p {
    margin: 4px 0;
}
